In [1]:
import pandas as pd

# Cargamos el archivo que creamos en la carpeta Datos
# El '..' significa "sube una carpeta y luego entra a Datos"
try:
    df = pd.read_csv('../Datos/productos_exportacion.csv')
    print("¡Tabla cargada con éxito!")
except FileNotFoundError:
    print("Error: No encuentro el archivo. Verifica que la carpeta 'Datos' exista y el nombre sea correcto.")

# Mostramos los primeros datos
if 'df' in locals():
    display(df.head())

¡Tabla cargada con éxito!

   producto      origen  precio_fob  costo_unidad  cantidad
0      Cafe    Colombia        25.0          15.0       500
1     Cacao     Ecuador        18.5          10.0       300
2  Aguacate      Mexico        12.0           5.0      1000
3    Banano  Costa Rica         8.0           3.5      2000
4      Vino   Argentina        35.0          20.0       150

In [3]:
# Creamos una columna nueva calculada automáticamente
df['ganancia_unidad'] = df['precio_fob'] - df['costo_unidad']
df['total_venta'] = df['precio_fob'] * df['cantidad']

# Calculamos el margen porcentual y lo redondeamos a 2 cifras
# Usamos .round(2) al final del cálculo
df['margen_%'] = ((df['ganancia_unidad'] / df['precio_fob']) * 100).round(2)

# Mostramos el resultado
display(df)

,producto,origen,precio_fob,costo_unidad,cantidad,ganancia_unidad,total_venta,margen_%
0,Cafe,Colombia,25.0,15.0,500,10.0,12500.0,40.00
1,Cacao,Ecuador,18.5,10.0,300,8.5,5550.0,45.95
2,Aguacate,Mexico,12.0,5.0,1000,7.0,12000.0,58.33
3,Banano,Costa Rica,8.0,3.5,2000,4.5,16000.0,56.25
4,Vino,Argentina,35.0,20.0,150,15.0,5250.0,42.86

In [4]:
# Filtramos la tabla
productos_rentables = df[df['margen_%'] > 40]

print("Productos con alta rentabilidad (Mayor al 40%):")
display(productos_rentables)

Productos con alta rentabilidad (Mayor al 40%):

,producto,origen,precio_fob,costo_unidad,cantidad,ganancia_unidad,total_venta,margen_%
1,Cacao,Ecuador,18.5,10.0,300,8.5,5550.0,45.95
2,Aguacate,Mexico,12.0,5.0,1000,7.0,12000.0,58.33
3,Banano,Costa Rica,8.0,3.5,2000,4.5,16000.0,56.25
4,Vino,Argentina,35.0,20.0,150,15.0,5250.0,42.86